{% include 'index.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>


<table class="table">
<div>
    <h3 style="color: lightcoral">INDIVIDUAL DETAILS</h3>
</div>
    <tbody>
    <tr><th>{% if error_message %}
 <tr>
                        <th>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>ID Error !</strong> {{ error_message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    {% endif %}
        </div>
        </th>

        </tr>
    <tr><th scope="row">ID <input type="number" value="{{ qs1.ID }}" readonly></th>
    <tr><th scope="row">PLAN_NAME <input type="text" value="{{ qs1.Plan_Name }}" readonly></th></tr>
     <tr> <th scope="row">PLAN_FORMULA <input type="text" value="{{ qs1.Plan_Formula }}" readonly></th></tr>
    <tr> <th scope="row">LOCATION <input type="text" value="{{ qs1.Location }}" readonly></th></tr>
    <tr> <th scope="row">PLAN_STATUS <input type="text" value="{{ qs1.Plan_Status }}" readonly></th></tr>
    <tr><th scope="row">CREATED_DATE<input type="text" value="{{ qs1.Created_Date }}" readonly></th>
    <tr>   <th scope="row">UPDATED_DATE<input type="text" value="{{ qs1.Updated_Date }}" readonly></th></tr>
    <tr><th><a  href="{% url 'showdata' %}"> <button type="submit"  class="btn-primary">Back To Home Page</button> </a></th></tr>

    </tbody>
</table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>